body, nav, main{
  padding:0;
  margin:0;
}

nav {
  float: left;
  width: 30%;
  box-sizing: border-box;
  min-height: 600px;
  border: 2px solid black;
}

main {
  float: left;
  border: 2px solid black;
  width: 70%;
  box-sizing: border-box;
  padding: 1em;
  min-height: 600px;
}

header h1{
  color: orange;
  background-color: black;
  padding: 1em;
  margin: 0;
}

nav ul{
  margin:0;
  padding: 1em;
  background-color: white;
}

nav li{
  margin-left: 2em;
}

button.delete {
  background-color: rgb(255,200,200);
  border: 1px solid rgb(100,0,0);
  color: rgb(100,0,0);
  padding:4px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgb(100,0,0);
}

table tr td {
  padding: 3px 15px;
  border-style: none;
}

table tr:nth-child(2n) td{
  background-color: lightblue;
}
