{% extends 'base.html.twig' %}

{% block title %}Resumen{% endblock %}

{% block main %}
<h1>Resum</h1>
<section>
  <h2>Últimas Notas</h2>
</section>

<section>
  <h2>Últimos Compromisos</h2>
</section>
{% endblock %}
